In [2]:
import pandas as pd
import glob

In [27]:
from scipy.signal import savgol_filter

from common import combine_csvs
import common
from common import N_STARLINK
from common import N_STARLINK_REMOTE
from common import N_HOME
from common import N_HAMPTON
from common import N_MOTION

In [33]:
DATA_FOLDER = 'data/Power/'
TIMESTAMP = 'Timestamp'

In [52]:
df = combine_csvs(glob.glob('data/**/*Juu*1H*.csv', recursive=True), index_col=False).rename(columns={'Time Bucket (UTC)': TIMESTAMP})
df = df.drop_duplicates()
df.sort_values(TIMESTAMP)

                Timestamp  Juuden1_1 (kWhs)
0     01/17/2022 01:00:00            0.0000
1     01/17/2022 02:00:00            0.0462
2     01/17/2022 03:00:00            0.0456
3     01/17/2022 04:00:00            0.0458
4     01/17/2022 05:00:00            0.0464
...                   ...               ...
4565  07/26/2022 06:00:00            0.0415
4566  07/26/2022 07:00:00            0.0407
4567  07/26/2022 08:00:00            0.0403
1328  07/26/2022 08:00:00            0.0178
4568  07/26/2022 09:00:00            0.0340

[4577 rows x 2 columns]

In [53]:
df.to_csv(f'{DATA_FOLDER}/2022-07-26_dishA_power_1HOUR_data.csv', index=False)